@{
    ViewData["Title"] = "Home Page";
}

<table id = "itemList" class="table mb-4">
    <thead>
        <tr>
        <th scope="col">Todo item</th>
        <th scope="col">Completed</th>
        <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var toDoElement in Model)
        {
        <tr>
            <td>@toDoElement.Text</td>
            <td>
                <input class="form-check-input" type="checkbox" checked="@toDoElement.Completed" onClick="return false;">
            </td>
            <td>
            @Html.ActionLink("Delete", "Delete", new { id = @toDoElement.Id} , new { @class = "btn btn-danger"})
            @Html.ActionLink("Finished", "Finish", new { id = @toDoElement.Id} , new { @class = "btn btn-success ms-1"})
            </td>
        </tr>
        }
    </tbody>
</table>
